name: Builds container image with cache
on:
  workflow_call:
    inputs:
      context:
        description: Context for the build (default ".")
        required: true
        type: string
        default: .
      file:
        description: Path to the Dockerfile. (default {context}/Dockerfile)
        required: true
        type: string
        default: Dockerfile
      tags:
        description: Comma separated list of tags (name/app:latest,name/app:1.0.0)
        required: true
        type: string
      load:
        description: Load is a shorthand for --output=type=docker (default false)
        required: false
        type: bool
        default: false
      runs-on:
        required: false
        type: string
        default: "ubuntu-latest"

permissions:
  contents: read
  packages: write
jobs:
  build-and-scan:
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Cache Docker layers
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
        with:
          path: /tmp/.buildx-cache
          # Invalidate cache if the Dockerfile changes
          key: ${{ runner.os }}-buildx-${{ hashFiles(inputs.containerfile) }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image for scanning
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: ${{ inputs.context }}
          file: ${{ inputs.file }}
          tags: ${{ inputs.tags }}
          push: ${{ inputs.push }}
          load: ${{ inputs.load }}
          # Use local caching
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max

      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache
