name: gitleaks
permissions:
  contents: read
on:
  workflow_call:
jobs:
  scan:
    name: gitleaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@83373cf2f8c4db6e24b41c1a9b086bb9619e9cd3 # v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
