name: gitleaks
permissions:
  contents: read
on:
  workflow_call:
    inputs:
      runs-on:
        required: false
        type: string
        default: "ubuntu-latest"
jobs:
  scan:
    name: gitleaks
    runs-on: ${{ inputs.runs-on }}
    container:
      image: zricethezav/gitleaks:v8.30.0
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Run Gitleaks
        run: gitleaks detect --source . --verbose
